@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Bold.eot');
    src: local('RF Dewi Extended Bold'), local('RFDewiExtended-Bold'),
        url('../font/RFDewiExtended-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Bold.woff2') format('woff2'),
        url('../font/RFDewiExtended-Bold.woff') format('woff'),
        url('../font/RFDewiExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-BlackItalic.eot');
    src: local('RF Dewi Expanded Black Italic'), local('RFDewiExpanded-BlackItalic'),
        url('RFDewiExpanded-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-BlackItalic.woff2') format('woff2'),
        url('RFDewiExpanded-BlackItalic.woff') format('woff'),
        url('RFDewiExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Light.eot');
    src: local('RF Dewi Extended Light'), local('RFDewiExtended-Light'),
        url('../font/RFDewiExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Light.woff2') format('woff2'),
        url('../font/RFDewiExtended-Light.woff') format('woff'),
        url('../font/RFDewiExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Black.eot');
    src: local('RF Dewi Extended Black'), local('RFDewiExtended-Black'),
        url('../font/RFDewiExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Black.woff2') format('woff2'),
        url('../font/RFDewiExtended-Black.woff') format('woff'),
        url('../font/RFDewiExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Regular.eot');
    src: local('RF Dewi Extended Regular'), local('RFDewiExtended-Regular'),
        url('../font/RFDewiExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Regular.woff2') format('woff2'),
        url('../font/RFDewiExtended-Regular.woff') format('woff'),
        url('../font/RFDewiExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-UltralightItalic.eot');
    src: local('RF Dewi Extended Ultralight Italic'), local('RFDewiExtended-UltralightItalic'),
        url('../font/RFDewiExtended-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-UltralightItalic.woff2') format('woff2'),
        url('../font/RFDewiExtended-UltralightItalic.woff') format('woff'),
        url('../font/RFDewiExtended-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-UltraboldItalic.eot');
    src: local('RF Dewi Extended Ultrabold Italic'), local('RFDewiExtended-UltraboldItalic'),
        url('../font/RFDewiExtended-UltraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-UltraboldItalic.woff2') format('woff2'),
        url('../font/RFDewiExtended-UltraboldItalic.woff') format('woff'),
        url('../font/RFDewiExtended-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-UltralightItalic.eot');
    src: local('RF Dewi Expanded Ultralight Italic'), local('RFDewiExpanded-UltralightItalic'),
        url('RFDewiExpanded-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-UltralightItalic.woff2') format('woff2'),
        url('RFDewiExpanded-UltralightItalic.woff') format('woff'),
        url('RFDewiExpanded-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Italic.eot');
    src: local('RF Dewi Extended Italic'), local('RFDewiExtended-Italic'),
        url('../font/RFDewiExtended-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Italic.woff2') format('woff2'),
        url('../font/RFDewiExtended-Italic.woff') format('woff'),
        url('../font/RFDewiExtended-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Ultrabold.eot');
    src: local('RF Dewi Extended Ultrabold'), local('RFDewiExtended-Ultrabold'),
        url('../font/RFDewiExtended-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Ultrabold.woff2') format('woff2'),
        url('../font/RFDewiExtended-Ultrabold.woff') format('woff'),
        url('../font/RFDewiExtended-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-LightItalic.eot');
    src: local('RF Dewi Extended Light Italic'), local('RFDewiExtended-LightItalic'),
        url('../font/RFDewiExtended-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-LightItalic.woff2') format('woff2'),
        url('../font/RFDewiExtended-LightItalic.woff') format('woff'),
        url('../font/RFDewiExtended-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Thin.eot');
    src: local('RF Dewi Extended Thin'), local('RFDewiExtended-Thin'),
        url('../font/RFDewiExtended-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Thin.woff2') format('woff2'),
        url('../font/RFDewiExtended-Thin.woff') format('woff'),
        url('../font/RFDewiExtended-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Semibold.eot');
    src: local('RF Dewi Extended Semibold'), local('RFDewiExtended-Semibold'),
        url('../font/RFDewiExtended-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Semibold.woff2') format('woff2'),
        url('../font/RFDewiExtended-Semibold.woff') format('woff'),
        url('../font/RFDewiExtended-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-BoldItalic.eot');
    src: local('RF Dewi Extended Bold Italic'), local('RFDewiExtended-BoldItalic'),
        url('../font/RFDewiExtended-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-BoldItalic.woff2') format('woff2'),
        url('../font/RFDewiExtended-BoldItalic.woff') format('woff'),
        url('../font/RFDewiExtended-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-BlackItalic.eot');
    src: local('RF Dewi Extended Black Italic'), local('RFDewiExtended-BlackItalic'),
        url('../font/RFDewiExtended-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-BlackItalic.woff2') format('woff2'),
        url('../font/RFDewiExtended-BlackItalic.woff') format('woff'),
        url('../font/RFDewiExtended-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-Ultralight.eot');
    src: local('RF Dewi Extended Ultralight'), local('RFDewiExtended-Ultralight'),
        url('../font/RFDewiExtended-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-Ultralight.woff2') format('woff2'),
        url('../font/RFDewiExtended-Ultralight.woff') format('woff'),
        url('../font/RFDewiExtended-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../font/RFDewiExtended-ThinItalic.eot');
    src: local('RF Dewi Extended Thin Italic'), local('RFDewiExtended-ThinItalic'),
        url('../font/RFDewiExtended-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/RFDewiExtended-ThinItalic.woff2') format('woff2'),
        url('../font/RFDewiExtended-ThinItalic.woff') format('woff'),
        url('../font/RFDewiExtended-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: "RF Dewi Extended";
    font-weight: 400;
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

ul {
    list-style: none;
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.button {
    background: #004F3D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    line-height: 125%;
    border: none;
    outline: none;
    text-decoration: none;
}

.button-white {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #004F3D;
    font-size: 20px;
    cursor: pointer;
    line-height: 125%;
    border: none;
    outline: none;
    text-decoration: none;
    border: 1px solid #004F3D;
}

.header {
    border-bottom: 1px solid #DADADA;
    background: rgba(0, 0, 0, 0.20);
    height: 80px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15vw;
        height: 100%;
    }

    &__menu {
        gap: 25px;
        display: flex;

        a {
            color: #FFF;
            font-size: 15px;
            font-weight: 600;
            line-height: 130%;
            text-decoration: none;
        }
    }

    &__details {}

    &__info {
        color: white;
    }

    &__links {
        display: flex;
        height: 100%;

    }

    &__profile {
        border: 1px solid #C1C1C1;
        height: 100%;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        border: 1px solid #C1C1C1;

    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 80px;
    background: #fff;
    box-shadow: 2px 15px 29.2px 0px rgba(0, 0, 0, 0.10);

    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }

    &__block {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    &__menu {
        cursor: pointer;
    }

    &__search {}

    &__icon {}

    &__line {
        padding: 30px 0;
        display: flex;
        flex-grow: 1;
        width: 2px;
        background: #6CA195;
    }

    &__button {
        writing-mode: vertical-rl;
        writing-mode: tb-rl;
        width: 100%;

        button {
            transform: rotate(180deg);
            font-size: 16px;
            font-weight: 700;
            padding: 20px 15px;
            line-height: 100%;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.menu {
    transition: all .7s;
    background: white;
    z-index: 10;
    width: 400px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: -100%;

    &__wrapper {
        padding: 30px 37px 30px 60px;
        width: 100%;
        display: grid;
        gap: 30px;
    }

    &__close {
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
    }

    &__nav {
        display: grid;
        gap: 40px;
        padding-bottom: 50px;
        border-bottom: 2px solid rgba(29, 29, 29, 0.20);

        a {
            color: #1D1D1D;
            font-size: 20px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.4px;
            border-bottom: 2px solid transparent;
            transition: all .3s;

            &:hover {
                border-bottom: 2px solid #717342;
                transition: all .3s;
            }
        }
    }

    &__phone {
        text-align: center;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.4px;

        a {
            color: #717342;
        }
    }

    &__button {}
}

.menu-active {
    left: 0;
    transition: .3s all;
}